[user]
	name = Kazuhiro Komiya
	email = kazuhiro@altar.jp

[merge]
	ff = false
	tool = vimdiff

[core]
	editor = vim -c \"set fenc=utf-8\"
	excludesfile = ~/.gitignore_global
	precomposeunicode = true
	quotepath = false
	autocrlf = false
	safecrlf = true
	ignorecase = false
	whitespace = cr-at-eol

[color]
	ui = true
	diff = auto
	status = auto
	branch = auto

[credential]
	helper = osxkeychain

[diff]
	tool = vimdiff
	compactionHeuristic = true

[difftool]
	prompt = false

[mergetool]
	prompt = false

[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less

[interactive]
	diffFilter = diff-highlight

[alias]
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short --color=always
	st = status
	ck = checkout
	cp = cherry-pick

# diff-highlight
# MacPorts
# > cd /opt/local/share/git/contrib/diff-highlight/
# > sudo make
# > sudo ln -s /opt/local/share/git/contrib/diff-highlight/diff-highlight /usr/local/bin/diff-highlight
# Brew
# > /usr/local/share/git-core/contrib/diff-highlight/diff-highlight /usr/local/bin/diff-highlight

