# .inputrc

# thesaitama@ .input
# Last Update: 2018-03-31 20:58:26

set completion-ignore-case on
set bell-style none
set visible-stats on

$if Bash

  set horizontal-scroll-mode off
  set editing-mode emacs

  # input method
  set meta-flag on
  set input-meta on
  set output-meta on
  set convert-meta off
  set show-all-if-ambiguous on

  "\C-n": history-search-forward
  "\C-p": history-search-backward
  
$endif